header{
  background-color: black;
}
#gradHat{
  padding: 5px;
}
h1{
  color: white;
  font-family:sans-serif;
  font-size: 75px;
  display: inline;
  vertical-align:super;
}
table{
  display: inline;
}
th{
  display: inline;
}
a{
  font-family: sans-serif;
  text-decoration: none;
}
body{
  background-image: linear-gradient(to right, #8c22d9, #c2fcf2);
}
h2{
  font-family: sans-serif;
  font-size: 50px;
  padding-left: 100px;
}
h3{
  font-family: sans-serif;
  font-size: 35px;
}
p{
  font-family: sans-serif;
  font-size: 25px;
  color: black;
  padding-bottom: 100px;
}
footer{
  background-color: black;
  padding-right: 600px;
  padding-bottom: 125px;
}
.intro{
  padding-top: 100px;
  padding-left: 750px;
}
form{
  font-family: sans-serif;
  font-size: 25px;
  color: black;
  padding-bottom: 100px;
}